{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Edit</h1>
<!-- edit view is not rendering dynamically -->
<div class="row justify-content-center">
  <div class="col-lg-6">
    <form method="POST" action="{% url 'edit' task.id %}">
      {% csrf_token %}
      <input class="form-control mb-2" name="task" value="{{task.task}}" type="text" placeholder="task">
      <!-- Remove the below line when imlemented authentication -->
      {% comment %} <input class="form-control mb-2" name="user_name" value="{{task.user_name}}" type="text" placeholder="user name"> {% endcomment %}
      <input class="form-control mb-2" type="url" value={{task.url}} name="url" id="">
      <input class="form-control mb-2" name="due_date" value="{{ date }}" type="datetime-local">
      <input type="checkbox" name="done" {% if task.done %} checked {% endif %}>
      <label>Done</label>
      <div class="d-grid col-lg-6 mx-auto">
        <button class="btn btn-outline-success" type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}