{% extends 'base.html' %}

{% block content %}
<h1>Tasks</h1>
<ul>
  {% for task in tasks %}
  <li>{{task.task}}</li>
  <li>{{task.id}}</li>
  <!-- <a href="{% url 'edit' task.id %}">Edit</a> -->
  <a href="{% url 'edit' task.id %}">Edit</a>
  <a href="{% url 'delete' task.id %}">Delete</a>
  {% endfor %}
</ul>
<p>{% url 'home' %}</p>
<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}
  <input name="task" type="text" placeholder="task">
  <!-- Remove the below line when imlemented authentication -->
  <input name="user_name" type="text" placeholder="user name">
  <input name="due_date" type="datetime-local">
  <button type="submit">Add</button>
</form>
{% endblock %}