{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Add Task</h1>
<div class="row justify-content-center">
  <div class="col-lg-6">
    <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}
      <input class="form-control mb-2" name="task" type="text" placeholder="task">
      <input class="form-control mb-2" name="due_date" type="datetime-local">
      
      <div class="d-grid col-lg-6 mx-auto">
        <button class="btn btn-outline-success" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>
<h3 class="text-center my-2">My Tasks</h3>
<ul>
  {% for task in tasks %}
    <div class="row justify-content-center">
      <div class="col-lg-6">
        {% if task.done %}
        <h3 class="text-decoration-line-through">{{task.task}} - {{task.user_name}}</h3>
        <h6>Due Date: {{task.due_date}}</h6>
        {% endif %}
        {% if task.due_date < current_date_time and not task.done %}
        <h3 class="text-danger">{{task.task}} - {{task.user_name}}</h3>
        <h6>Due Date: {{task.due_date}}</h6>
        {% elif task.due_date > current_date_time and not task.done %}
        <h3 class="">{{task.task}}</h3>
        <h6>Due Date: {{task.due_date}}</h6>
        {% endif %}
        <div class="">
          <a class="btn btn-info" href="{% url 'edit' task.id %}">Edit</a>
          <a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
        </div>
      </div>
    </div>
  {% endfor %}
</ul>
<p>{% url 'home' %}</p>

{% endblock %}